<main>
<h1 class="pageTitle">Shopping Cart</h1>
<div class="cart-container">
    <div id="cart-items"></div>
    <div class="cart-summary">
        <div class="cart-total">
            <h2>Subtotal: €<span id="total-price">0.00</span></h2>
        </div>
        <button id="checkout-btn" class="btn checkout-btn" onclick="goToCheckout()">Proceed to Checkout</button>
        <button id="continue-shopping-btn" class="btn continue-shopping-btn" onclick="continueShopping()">Continue Shopping</button>
    </div>
</div>

<script src="/js/shop.js"></script>
</main>
