<main>
    <h1 class="pageTitle">Welcome to Manchester United Jeresy Website</h1>
            <p class="centertext">The Red Devils. The Pride of Manchester.</p>
            <p class="centertext">This is a College Project</p>

            <h2 class="centertext">Our Top Sellers</h2>
            <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/j4.jpg" class="d-block w-100" alt="Manchester United Home Jersey 24/25">
    </div>
    <div class="carousel-item">
      <img src="/images/j5.jpg" class="d-block w-100" alt="Manchester United Away Jersey 24/25">
    </div>
    <div class="carousel-item">
      <img src="/images/j6.jpg" class="d-block w-100" alt="Manchester United Third Jersey 24/25">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
            <a href="/shop" class="btn centertext">Shop Here</a>
</main>
