<main>
    <h1 class="pageTitle">Welcome to Manchester United</h1>
            <p class="centertext">The Red Devils. The Pride of Manchester.</p>
            <p class="centertext">This is a College Project</p>
            <a href="/shop" class="btn centertext">Shop Here</a>
</main>
