<main>
    <h1>Welcome to Manchester United</h1>
            <p>The Red Devils. The Pride of Manchester.</p>
            <p>This is a College Project</p>
            <a href="contact.hbs" class="btn">Latest News</a>
</main>
