<main>
<h1>Thank you </h1>
<p>The following details have been submitted</p>

<p> User Name : {{formDetails.userName}}</p>
<p> User Email : {{formDetails.userEmail}}</p>
<p> User Password : {{formDetails.userPassword}}</p>
<a href="index" class="btn">Return Home</a>

</main>