<main>
<h1 class="pageTitle">Thank you </h1>
<p class="centertext">The following details have been submitted</p>

<p class="centertext"> User Name : {{formDetails.userName}}</p>
<p class="centertext"> User Email : {{formDetails.userEmail}}</p>
<p class="centertext"> User Password : {{formDetails.userPassword}}</p>
<a href="/login" class="btn centertext">Login In</a>

</main>

<script src="/js/signup.js"></script>
<script src="/js/login.js"></script>