
<nav>
     <ul>
          <li ><a  class='{{#if state.home}}active{{/if}}' href='/'>Home</a></li>
          <li><a class='{{#if state.shop}}active{{/if}}' href='/shop'>Shop</a></li>     
          <li><a class='{{#if state.signup}}active{{/if}}' href='/signup'>Sign up</a></li>
          <li><a class='{{#if state.aboutus}}active{{/if}}' href='/aboutus'>About Us</a></li>
          <li><a class='{{#if state.contact}}active{{/if}}' href='/contact'>Contact</a></li>
          

     </ul>
</nav>

